html,body{
    padding:0;
    margin:0;
    height:100%;
    }
    html{
        background-image: url("../images/wall.jpg");
        background-size:cover;
        font-size:30px;
        background-position:center center;
    }
    .button{
        font-size:22px;
        text-align:center;
        line-height:44px;
        background-color: #cc4331;
        color:white;
        border-radius:4px;
        padding:5px 25px 5px 25px;
        outline:0 !important;
        box-shadow:0 4px 0 #af3a2a,0 5px 5px 1px rgba(0,0,0,0.4);
        transition:all 0.15s ease-in-out;
        margin-top:-4px;
    }
    .button:hover{
        background-color:#d25544;
        box-shadow:0 4px 0 #c4402f,0 5px 5px 1px rgba(0,0,0,0.4) 
    }
    .button:active{
        margin-top:0px;;
        box-shadow:none;
    }
    .button--close{
        background-color:#f5f5f5;
        color:#999;
        box-shadow:0 4px 0 #cecece,0 5px 5px 1px rgba(0,0,0,0.4);
        border:1px solid #f5f5f5;
    }
    .button--close:hover{
        background-color:white;
        box-shadow:0 4px 0 #b6b6b6,0 5px 5px 1px rgba(0,0,0,0.4);
        border:1px solid #f5f5f5;

    }
    .button--accept{
        background-color:#10489c;
        box-shadow:0 4px 0 #10259c,0 5px 5px 1px rgba(0,0,0,0.4);
    }
    .button--accept:hover{
        background-color:rgb(24, 18, 186);
        box-shadow:0 4px 0 #182d8c,0 5px 5px 1px rgba(0,0,0,0.4);
        border:1px solid #f5f5f5;


    }
    .center{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    #modal-background{
        background-color:rgba(0,0,0,0.45);
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:-10;
        opacity:0;
        transition: opacity 0.50s ease-in-out,z-index 0.50s ease-in-out;
    }
    #modal-background.active{
        opacity: 1;
        z-index:10;

    }
    .modal-box{
        flex-shrink: 1;
        background-color:white;
        position:fixed;
        padding:25px;
        top:50%;
        left:50%;
        max-width:800px;
        transform: translate(-50%,-50%);
        height:auto;
        border-radius:4px;
        opacity:0;
        z-index:-10;

    }
    .modal-box.active{
        opacity:1;
        z-index:11;
        width:100%;
        height:auto;
    }
   h1,p{
        font-family:"indie flower",cursive
    }
    .text-right{
       text-align:right; 
    }
    h3{
        font-family: 'Aboreto', cursive;
    }
    @media(max-width:700px) and (min-width:300px){
        .button--accept,.button--close {
            width:100%;
            height: auto;
        }
        .modal-box:active{
            display:inline-flex;
            flex-basis: 100%;
            flex-wrap:wrap;
            height:auto;
            flex-shrink: 1;
            flex-grow: 1;
            overflow:visible;
            word-wrap: break-word;
        }
        h1,h3,p{
            align-self: center;
            flex-wrap: wrap;
            text-align: center;
            margin:0;
        }
    }